{% extends "account/base.html" %}
{% load add_class %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div id="wrapper">
    <div id="notifications" class="notifications">
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Sign Up" %}</h3>
                </div>
                <div class="panel-body">
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                      <fieldset>
                          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}
                          {% if form.non_field_errors %}
                          <div class="alert alert-danger">{{ form.non_field_errors|join:"<br \>" }}</div>
                          {% endif %}

                          {% for field in form %}
                          <div class="form-group {% if field.errors %}has-error{% endif %}">
                            {% if field.help_text %}
                            <span class="help-block">{{ field.help_text }}</span>
                            {% endif %}
                            {% if field.errors %}
                            <span class="help-block">{{ field.errors|join:"<br \>" }}</span>
                            {% endif %}
                            {{ field|add_class:"form-control" }}
                          </div>
                          {% endfor %}
                            <button class="btn btn-lg btn-info btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
