{% extends "home/base.html" %}

{% block base_content %}

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container" id="MainContainer">
          <div class="col-md-2 sidenav">
            <div name="Sidebar">
              <div class="text-left"><h4>Utilidades</h4></div>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'netblock_index' %}"><i style="margin-right:12px;" class="glyphicon glyphicon-th-large" aria-hidden="true"></i><span>Bloques de red</span></a></li>
								<li><a href="{% url 'scrubbing_index' %}"><i style="margin-right:12px;" class="glyphicon glyphicon-hdd" aria-hidden="true"></i><span>Scrubbing center's</span></a></li>
								<li><a href="{% url 'asn_index' %}"><i style="margin-right:12px;" class="glyphicon glyphicon-globe" aria-hidden="true"></i><span>Sistemas autónomos</span></a></li>
              {% if user.has_asn %}
                <li><a href="/announceBGP"><i style="margin-right:12px;" class="fa fa-bullhorn" aria-hidden="true"></i><span>Anuncio BGP</span></a></li>
                <li><a href="/flowSpec"><i style="margin-right:10px;" class="glyphicon glyphicon-stats" aria-hidden="true"></i><span>Envío de FlowSpec</span></a></li>
                <li><a href="/announceList"><i style="margin-right:10px;" class="glyphicon glyphicon-list" aria-hidden="true"></i><span>Listado de anuncios</span></a></li>
              {% endif %}
              {% if not user.is_superuser %}
                <li><a href="/admin/"><i style="margin-right:10px;" class="glyphicon glyphicon-list" aria-hidden="true"></i><span>Panel Administrador</span></a></li>
              {% endif %}
            </ul><br>
              </div>
          </div>

        <div class="col-md-10">
          <div name="AppData">
            <h3>{% block app_title %}{% endblock app_title %}</h3>
            {% include "home/alerts.html" %}
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            {% block content %}
            {% endblock %}
          </div>
        </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    {% block javascript %}
    {% endblock  %}

{% endblock %}
