{% extends "home/apps.html" %}
{% load bootstrap3 %}
{% load helpers %}

{% block app_title %}Listado de Scrubbing Center's{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Scrubbing center's</strong>
			{% if user.is_superuser %}
				<div class="pull-right">
					<div class="btn-rigth">
						<a href="{% url 'asn_create' %}" class="btn btn-xs btn-default">
						<span class="fa fa-plus-circle fa-fw"></span>Agregar scrubbing
						</a>
					</div>
				</div>
			{% endif %}
		</div>
		<table class="table table-condensed table-bordered table-hover">
			<thead>
				<th>Nombre</th>
				<th>Dirección IP</th>
				<th>Número de AS</th>
				<th>Tiempo de actividad</th>
				<th>Enviados</th>
				<th>Recibidos</th>
				<th>Estado</th>
				<th>Acciones</th>
			</thead>
			<tbody>
			{% for scrubbing in scrubbings %}
				<tr>
					<td>{{ scrubbing.name }}</td>
					<td>{{ scrubbing.address }}</td>
					<td>{{ states|get_item:scrubbing.address|get_item:'as' }}</td>
					<td>{{ states|get_item:scrubbing.address|get_item:'uptime' }}</td>
					<td>{{ states|get_item:scrubbing.address|get_item:'sent' }}</td>
					<td>{{ states|get_item:scrubbing.address|get_item:'received' }}</td>
					<td>{{ states|get_item:scrubbing.address|get_item:'state' }}</td>
					<td>
						<div class="btn-group inline">
		        			<a href="{% url 'scrubbing_show' scrubbing.id %}" class="btn btn-sm btn-primary ">Detalles</a>
			        		{% if user.is_superuser %}
			        			<button class="btn btn-sm dropdown pull-right btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true">
			        				Acciones <span class="caret"></span>
			        			</button>
		        				<ul class="dropdown-menu" role="menu">
		        					<li>
				        				<a href="{% url 'scrubbing_edit' scrubbing.id %}"><span class="fa fa-edit alert-info"></span> Editar</a>
										<a href="{% url 'scrubbing_delete' scrubbing.id %}"> <span class="fa fa-remove alert-danger"></span> Borrar</a>
		        					</li>
		        				</ul>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
