{% extends "home/apps.html" %}

{% block app_title %}Envío de FlowSpec {% endblock %}

{% block content %}
	<h4>Seleccione el bloque de red:</h4>
	<form action="{% url 'flowspec_create' %}" method="get">
	    <select class="form-control" name="net_id">
  		{% for asn, netblocks in asns.items %}
			<optgroup label="{{ asn }}">
  				{% for netid, netblock in netblocks %}
	        		<option value="{{ netid }}">{{ netblock }}</option>
				{% endfor %}
  			</optgroup>
		{% endfor %}
	    </select>
	    <button type="submit" class="btn btn-primary" value="Submit">Seleccionar</button>
	</form>
{% endblock %}
